<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>我的照片流</string>
			<key>Key</key>
			<string>photo_icloud</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>连接Wi-Fi时，自动上传新照片英发送到所有登录您iCloud账户的设备。</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>共享的照片流</string>
			<key>Key</key>
			<string>share_icloud</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>创建照片流以与其他人共享，或者订阅其他人共享的照片流。</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>幻灯片显示</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>每张幻灯片播放</string>
			<key>Key</key>
			<string>play_setting</string>
			<key>DefaultValue</key>
			<string>2秒钟</string>
			<key>Titles</key>
			<array>
				<string>2秒钟</string>
				<string>3秒钟</string>
				<string>5秒钟</string>
				<string>10秒钟</string>
				<string>20秒钟</string>
			</array>
			<key>Values</key>
			<array>
				<string>2秒钟</string>
				<string>3秒钟</string>
				<string>5秒钟</string>
				<string>10秒钟</string>
				<string>20秒钟</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>重复播放</string>
			<key>Key</key>
			<string>replay</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>随机播放</string>
			<key>Key</key>
			<string>play</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
